.irp #wpwrap {
  width: auto;
  padding-right: 0; }

.irp.small #wpwrap {
  padding-right: 360px; }

.irp.small .irp-container {
  width: 360px; }

.irp.medium #wpwrap {
  padding-right: 660px; }

.irp.medium .irp-container {
  width: 660px; }

.irp #poststuff,
.irp #post-body-content {
  min-width: 0 !important; }

.irp-container {
  height: 100%;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  transition: width 0.5s ease-in-out;
  z-index: 1000; }

.irp-iframe {
  border-left: 1px solid #ccc;
  box-shadow: 0 0 1em #ccc;
  height: 133%;
  transform: scale(0.75, 0.75);
  transform-origin: top left;
  width: 133%; }

.irp-close {
  z-index: 99999;
  position: absolute;
  top: 3em;
  right: 1em;
  padding: 0.5em;
  background-color: #e14d43;
  border-radius: 3px;
  color: #fafafa;
  cursor: pointer; }
  .irp-close.media-modal-close {
    width: 140px;
    height: 20px;
    margin: 0 0 0 0.5em;
    vertical-align: text-bottom; }
    .irp-close.media-modal-close:hover {
      background-color: #222; }

.irp-new {
  padding: 0.5em;
  background-color: #e14d43;
  border-radius: 3px;
  color: #fafafa;
  cursor: pointer; }
  .irp-new.media-modal-close {
    width: auto;
    height: 20px;
    margin: 0 0 0 0.5em;
    vertical-align: text-bottom; }
    .irp-new.media-modal-close:hover {
      background-color: #222; }

.full-width {
  width: 100%; }

.irp-controls-container {
  z-index: 1000;
  display: block;
  margin: 32px 0 0;
  padding: 10px;
  background: transparent;
  color: rgba(255, 255, 255, 0.8); }

.irp-breakpoint-list {
  z-index: 1000;
  display: block;
  margin: 1em 0 0;
  padding: 1em;
  background: transparent;
  color: rgba(255, 255, 255, 0.8); }
  .irp-breakpoint-list .irp-breakpoint-list-item {
    display: inline-block; }
    .irp-breakpoint-list .irp-breakpoint-list-item .irp-breakpoint-list-item-link {
      display: inline-block;
      width: 22px;
      height: 22px;
      text-indent: -9999px;
      text-align: left;
      overflow: hidden; }
      .irp-breakpoint-list .irp-breakpoint-list-item .irp-breakpoint-list-item-link:focus {
        outline: #e14d43; }
      .irp-breakpoint-list .irp-breakpoint-list-item .irp-breakpoint-list-item-link.icon-small {
        background-image: url("../img/small.png");
        background-size: cover; }
      .irp-breakpoint-list .irp-breakpoint-list-item .irp-breakpoint-list-item-link.icon-medium {
        background-image: url("../img/medium.png");
        background-size: cover;
        width: 18px; }

.irp-container .ui-resizable {
  position: relative; }

.irp-container .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block; }

.irp-container .ui-resizable-disabled .ui-resizable-handle,
.irp-container .ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.irp-container .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0; }

.irp-container .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0; }

.irp-container .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%; }

.irp-container .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%; }

.irp-container .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px; }

.irp-container .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px; }

.irp-container .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px; }

.irp-container .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px; }
