.irp-breakpoint-list {
	@include z-index(middle);
	display: block;
	margin: 1em 0 0;
	padding: 1em;
	background: transparent;
	color: $color--silver-light;

	.irp-breakpoint-list-item {
		display: inline-block;

		.irp-breakpoint-list-item-link {
			display: inline-block;
			width: 22px;
			height: 22px;
			text-indent: -9999px;
			text-align: left;
			overflow: hidden;

			&:focus {
				outline: $color--red;
			}

			&.icon-small {
				background-image: url("../img/small.png");
				background-size: cover;
			}

			&.icon-medium {
				background-image: url("../img/medium.png");
				background-size: cover;
				width: 18px;
			}

			&.icon-new {
				background-image: url("../img/new.png");
				background-size: cover;
				width: 21px;
			}
		}
	}
}
