////
/// Helpers.
////
.irp {
	#wpwrap {
		width: auto;
		padding-right: 0;
	}

	&.small {
		#wpwrap {
			padding-right: 360px;
		}
		.irp-container {
			width: 360px;
		}
	}

	&.medium {
		#wpwrap {
			padding-right: 660px;
		}
		.irp-container {
			width: 660px;
		}
	}

	#poststuff,
	#post-body-content {
		min-width: 0 !important;
	}
}

.inline-preview-action {
	margin-top: 6px;
}

.irp-container {
	height: 100%;
	width: 0;
	position: fixed;
	right: 0;
	top: 0;
	text-align: center;
	transition: width 0.5s ease-in-out;
	@include z-index(middle);
}

.irp-iframe {
	border-left: 1px solid $color--silver;
	box-shadow: 0 0 1em $color--silver;
	height: 133%;
	transform: scale(0.75, 0.75);
	transform-origin: top left;
	width: 133%;
}

.irp-close {
	@include z-index(top);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 98%;
	padding: 1em;
	background-color: $color--red;
	color: $color--white;
	border-left: 1px solid $color--silver;
	cursor: pointer;
	&:hover {
		background-color: $color--black;
		color: $color--white;
	}
}
